/* Peek-a-boo, I see you! :P */

/*******************************************\
|               INITIAL STYLES              |
\*******************************************/
body {
  color: #e6e6e6;
  font-family: "Questrial", sans-serif;
}

#magic-boop {
  background: transparent;
}

.navbar-brand .fa:hover,
#magic-boop:hover {
  animation: tada 1s infinite;
}

.nightly-theme .navbar a,
.nightly-theme .portfolio a {
  color: #e6e6e6 !important;
}

.mythical-theme .navbar a,
.mythical-theme .portfolio a {
  color: #222 !important;
}

a:hover {
  text-decoration: none;
}

.section-title {
  font-size: 34px;
  letter-spacing: 4px;
  text-align: center;
}

.section-subtitle {
  font-size: 20px;
  letter-spacing: 1px;
}

.nightly-theme {
  background: #030305;
  color: #e6e6e6;
  transition: 0.5s;
}

.mythical-theme {
  color: #222;
  transition: 0.5s;
}

.nightly-theme .section-box,
.nightly-theme .portfolio-block {
  background: #1d2129;
  color: #e6e6e6;
}

.mythical-theme .section-box,
.mythical-theme .portfolio-block {
  background: #FFF;
  color: #222;
}

.nightly-theme .box-heading {
  color: #e6e6e6;
}

.mythical-theme .box-heading {
  color: #222;
}

/*******************************************\
|             NAVIGATION MENU               |
\*******************************************/
.navbar {
  background: #eceff1;
  border-bottom: none;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.mythical-theme .navbar,
.mythical-theme .navbar .navbar.navbar-collapse.collapse,
.mythical-theme .navbar .navbar-collapse.collapse li a:hover {
  background: #eceff1;
  color: #222;
}

.nightly-theme .navbar,
.nightly-theme .navbar .navbar.navbar-collapse.collapse,
.nightly-theme .navbar .navbar-collapse.collapse li a:hover {
  background: #1d2129;
  color: #e6e6e6;
}

.navbar-brand {
  font-size: 24px;
  border-bottom: none;
}

.navbar-brand .fa {
  color: #11FFBD;
}

.mythical-theme .navbar.navbar-default .navbar-nav .active a,
.mythical-theme .navbar.navbar-default .navbar-nav .active a:focus,
.mythical-theme .navbar.navbar-default .navbar-nav .active a:hover {
  background: #eceff1 !important;
  border-bottom: 2px solid #00b380;
  color:#00b380 !important;
  transition: 0.5s;
}

.mythical-theme .navbar.navbar-default .navbar-nav {
  background: #eceff1 !important;
}

.mythical-theme .navbar.navbar-default .navbar-nav li a:hover {
  background: #d3dade !important;
}

.nightly-theme .navbar.navbar-default .navbar-nav .active a,
.nightly-theme .navbar.navbar-default .navbar-nav .active a:focus,
.nightly-theme .navbar.navbar-default .navbar-nav .active a:hover {
  background: #1d2129 !important;
  border-bottom: 2px solid #00b380;
  color:#00b380 !important;
  transition: 0.9s;
}

.nightly-theme .navbar.navbar-default .navbar-nav {
  background: #1d2129 !important;
}

.nightly-theme .navbar-default .navbar-toggle:focus,
.nightly-theme .navbar-default .navbar-toggle:hover,
.nightly-theme .navbar.navbar-default .navbar-nav li a:hover {
  background: #0b0c0f !important;
}

.navbar-collapse.collapse {
  transition: 0.5s;
}

/*******************************************\
|               HOME SECTION                |
\*******************************************/
.home {
  align-content: center;
  align-items: center;
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.home span {
  color: #42a5f5;
  font-weight: bold;
}

.presentation h1 {
  color: #2979ff;
  letter-spacing: 3px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.presentation-first {
  color: #42a5f5;
  font-weight: bold;
}

.presentation-second {
  padding-bottom: 35px;
}

.presentation-third {
  color: #3d5afe;
  padding-bottom: 35px;
}

.presentation-third,
.presentation-fourth {
  font-size:28px;
  margin-top: 0;
  padding-top: 0;
}

/*******************************************\
|              ABOUT SECTION                |
\*******************************************/
.about {
  display: block;
  min-height: 900px;
  padding-top: 80px; /* for smooth scrolling */
  position: relative;
  width: 100%;
}

.mythical-theme .about {
  background: #AAFFA9;
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
}

.about .profile-links-wrapper {
  border-top: 1px solid #999;
  margin: 6px 0;
}

.about .profile-links {
  display: block;
  font-size: 20px;
  margin: auto;
  padding-bottom: 0px;
  text-align: justify;
  word-break: break-all;
}

.nightly-theme .about .profile-location {
  color: #e6e6e6;
}

.mythical-theme .about .profile-location {
  color: #222;
}

.box-heading {
  margin-top: 10px;
}

.box-description {
  font-size: 20px;
  text-align: justify;
  margin: auto;
  padding-bottom: 8px;
  line-height: 25px;
}

.about .section-title .fa,
.about .section-box .fa,
.description-link,
.section-box a:hover {
  color: #00b380;
}

.section-title:hover .fa,
.box-heading:hover .fa {
  animation: swing 1s infinite;
}

.section-box {
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  padding: 10px;
}

.profile-image {
  border: 2px solid #11FFBD;
  margin: auto;
  padding: 10px;
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.profile-name {
  margin: 5px;
  text-align: center;
}

.profile-sliders {
  padding-bottom: 47px;
}

.slider {
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #444;
  height: 6px;
  max-width: 100%;
}

.profile-sliders:hover .slider-knob {
  animation: tada 1s infinite;
}

.nightly-theme .slider {
  background: #0b0c0f;
}

.slider-knob {
  background: #11FFBD;
  -moz-box-shadow: -1px 3px 10px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -1px 3px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: -1px 3px 10px 1px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  height: 20px;
  margin-top: -8px;
  width: 20px;
}

.slider-knob-one {
  margin-left: 65%;
}

.slider-knob-two {
  margin-left: 20%;
}

.slider-knob-three {
  margin-left: 50%;
}

.slider-knob-four {
  margin-left: 25%;
}

.slider-knob-five {
  margin-left: 70%;
}

.sliders-description-left,
.sliders-description-right {
  display: inline-block;
  margin: 5px;
}

.sliders-description-left {
  float: left;
}

.sliders-description-right {
  float: right;
}

.growth-graph {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.codewars-badge {
  padding: 10px 0;
}

/*******************************************\
|            PORTFOLIO SECTION              |
\*******************************************/
.portfolio {
  min-height: 1000px;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 80px;
}

.mythical-theme .portfolio {
  background: #2bbbff;
  background: -moz-linear-gradient(-45deg,  #2bbbff 0%, #76f7a5 100%);
  background: -webkit-linear-gradient(-45deg,  #2bbbff 0%,#76f7a5 100%);
  background: linear-gradient(135deg, #2bbbff 0%,#76f7a5 100%);
}

.portfolio-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}

.portfolio-block {
  background: #1d2129;
  -moz-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.75);
  display: block;
  margin-bottom: 30px;
  max-height: 440px;
  max-width: 540px;
  padding-top: 20px;
  overflow: hidden;
  width: 100%;
}

.portfolio .section-title .fa {
  color: #96e9e3;
}

.portfolio .section-subtitle {
  text-align: center;
}

.portfolio-block .fa {
  color: #a6a6a6;
  transition: 0.5s;
}

.portfolio-block:hover .fa {
  color: #2bbbff;
  animation: pulse 1s infinite;
}

.nightly-theme .portfolio-links:hover .fa {
  color: #FFF;
}

.mythical-theme .portfolio-links:hover .fa {
  color: #222;
}

.portfolio-block p {
  font-size: 18px;
  line-height: 0.9;
  margin-left: 10px;
  padding-top: 8px;
  text-align: left;
}

.portfolio-image {
  background: #555;
  -moz-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.3);
  border: 1px solid #2bbbff;
  box-sizing: border-box;
  height: 100%;
  margin-top: 3%;
  margin: auto;
  max-height: 92%;
  max-width: 92%;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
}

.portfolio-block:hover .portfolio-image {
  border: 1px solid #2bbbff;
}

.portfolio-title {
  border-bottom: 1px solid #2bbbff;
  margin-top: 5px;
  max-width: 100%;
  min-height: 20px;
}

.portfolio-description {
  border-bottom: 1px solid #2bbbff;
  min-height: 20px;
  max-width: 100%;
}

.portfolio-tags {
  border-bottom: 1px solid #2bbbff;
  min-height: 20px;
  max-width: 100%;
}

.portfolio-links {
  border-bottom: 5px solid #2bbbff;
  box-sizing: border-box;
  clear: both;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.portfolio-image:hover {
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

.visit-project,
.view-code {
  transition: 0.5s;
}

.visit-project {
  flex: 1 50%;
}

.view-code {
  flex: 1 50%;
}

.visit-project:hover,
.view-code:hover {
  transition: 0.5s;
  background: #2bbbff;
}

/*******************************************\
|             CONTACT SECTION               |
\*******************************************/
.contact {
  min-height: 800px;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 80px;
}

.mythical-theme .contact {
  background: -moz-linear-gradient(-45deg,  #c964ba 0%, #f2ff63 100%);
  background: -webkit-linear-gradient(-45deg,  #c964ba 0%,#f2ff63 100%);
  background: linear-gradient(135deg, #c964ba 0%,#f2ff63 100%);
}

.contact .fa {
  color: #CC6666;
}

.contact-box {
  align-content: center;
  align-items: center;
  background-color: rgb(242, 242, 242);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 520px;
  min-height: 300px;
}

.contact .section-description {
  display: inline;
  margin: 0px;
}

.contact .social-list {
  padding: 15px 0;
}

.contact .contact-form {
  padding-top: 15px;
}

.contact .social-list,
.footer .social-list {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

.social-small-box {
  background: #CC6666;
  -moz-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  color: #f2ff63;
  display: inline-block;
  font-size: 40px;
  height: 60px;
  line-height: 1.5;
  margin: 2px;
  padding: 2px;
  text-align: center;
  width: 60px;
}

.social-small-box .fa {
  line-height: 1.4;
}

.social-list .social-icon {
  color: #fff;
  display: block;
}

.nightly-theme .social-list .social-icon,
.nightly-theme .contact-form [type="submit"] {
  color: #e6e6e6;
}

.contact-form {
  text-align: center;
}

.form-input {
  background: rgb(242, 242, 242);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 3px 20px -1px rgba(0, 0, 0, 0.4);
  border:1px solid #CC4949;
  box-sizing: border-box;
  font-size: 22px;
  margin-bottom: 15px;
  max-width: 95%;
  outline:0;
  padding: 13px;
  transition: all 0.3s;
  width:100%;
}

.form-input:focus {
  border:1px solid #dd8888;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #9e9e9e;
}

.contact-form textarea {
  height: 100px;
  line-height: 100%;
  resize:vertical;
}

.nightly-theme .contact-form [type="text"],
.nightly-theme .contact-form [type="email"],
.nightly-theme .contact-form textarea {
  background: #15181e;
}

.contact-form [type="submit"] {
  background:#CC6666;
  border:0;
  color:white;
  cursor:pointer;
  font-size:24px;
  font-weight:700;
  margin-top:-4px;
  padding-bottom:10px;
  padding-top:10px;
  transition: all 0.3s;
  width: 100%;
}

.contact-form [type="submit"]:hover,
.social-small-box:hover {
  background:#CC4949;
}

/*******************************************\
|                 FOOTER                    |
\*******************************************/
.mythical-theme .footer-top {
  background: #eceff1;
  border-top: 1px solid #FFF;
}

.mythical-theme .footer-bottom {
  background: #cfd8dc;
}

.nightly-theme .footer-top {
  background: #1d2129;
}

.nightly-theme .footer-bottom {
  background: #15181e;
}

.footer-top {
  min-height: 100px;
  width: 100%;
}

.footer-bottom {
  min-height: 60px;
  width: 100%;
}

.footer p {
  font-size: 20px;
  text-align: center;
}

.footer .social-list {
  padding-top: 20px;
}

.footer-bottom p {
  padding-top: 15px;
}

.footer-bottom p:hover .fa {
  animation: tada 1s infinite;
}

.footer-bottom .fa {
  color: #CC4949;
}

/*******************************************\
|             MEDIA QUERIES                 |
\*******************************************/
@media (max-width: 450px) {
  .navbar-brand {
    font-size: 21px;
  }
}

@media (max-width: 765px) {
  .navbar-header {
    margin-top: 5px;
  }
}

@media (max-width: 1199px) {
  .home .presentation {
    margin-top: 90px;
  }
}

@media (min-width: 768px) {
  /* Navigation menu */
  .nightly-theme .navbar-default .navbar-nav .active a,
  .nightly-theme .navbar-default .navbar-nav .active a:focus,
  .nightly-theme .navbar-default .navbar-nav .active a:hover,
  .nightly-theme .navbar-collapse.collapse li a:hover {
    background: #1d2129 !important;
  }

  .mythical-theme .navbar-default .navbar-nav .active a,
  .mythical-theme .navbar-default .navbar-nav .active a:focus,
  .mythical-theme .navbar-default .navbar-nav .active a:hover,
  .mythical-theme .navbar-collapse.collapse li a:hover {
    background: #eceff1 !important;
  }

  .navbar-nav li a {
    padding-top: 20px;
  }

  .section-title {
    font-size: 48px;
  }

  .section-subtitle {
    font-size: 24px;
  }

  .navbar-brand {
    font-size: 28px;
  }

  .navbar-nav {
    font-size: 24px;
  }

  /* Home page */
  .presentation-first {
    font-size: 54px;
  }

  .presentation-second,
  .presentation-third,
  .presentation-fourth {
    font-size: 40px;
  }

  /* Portfolio page */
  .portfolio-block p {
    font-size: 20px;
    margin-left: 25px;
    font-size: 19px;
    margin-left: 10px;
  }

  /* Contact page */
  .contact .section-box {
    margin-bottom: 20px;
  }

  .social-small-box {
    color: #d1476c;
    font-size: 46px;
    height: 65px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    text-align: center;
    width: 65px;
  }
}

@media (min-width: 766px) and (max-width: 991px) {
  .navbar li a {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .growth-graph #growthChart {
    display: none !important;
  }

  .growth-chart-img-mythical {
    display: none;
  }

  .mythical-theme .growth-chart-img-mythical {
    display: block;
  }

  .growth-chart-img-nightly {
    display: none;
  }

  .nightly-theme .growth-chart-img-nightly {
    display: block;
  }
}

@media (min-width: 992px) {
  .growth-graph #growthChart {
    display: block !important;
  }

  .growth-chart-img-mythical {
    display: none;
  }

  .growth-chart-img-nightly {
    display: none;
  }
}
