body {
  font-family: "Questrial", sans-serif;
  color: #000;
}

/* Navigation */
.navbar {
  background: rgba(12, 135, 192, 0.9);
  background: rgba(0, 119, 224, 0.5);
  background: rgba(77, 172, 255, 0.8);
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.2);
  height: 60px;
  margin-bottom: 0; /*
  border-bottom: 1px solid white; */
  border-bottom: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  font-size: 20px;
  background: rgba(66, 165, 245, 0.8);
}

.navbar-brand {
  font-size: 24px;
}

.home {
  min-height: 100vh;
  width: 100%;
  display: block;
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(242, 242, 242);
}

/* Helper classes */
.navbar a,
.portfolio a {
  color: #000 !important;
}

a:hover {
  text-decoration: none;
}

.home span {
  font-weight: bold;
}

.color-red {
  color: #a32949;
}

.section-title { /*
  padding-top: 80px; */
  font-size: 34px;
  text-align: center;
  letter-spacing: 4px;
}

.section-subtitle {
  font-size: 20px; /*
  line-height: 0.9; */
  letter-spacing: 1px; /*
  text-shadow:2px 4px 10px rgba(0, 0, 0, 0.4); */
}

.text-center {
  text-align: center;
}

.section-box {
  max-width: 520px;
  min-height: 300px;
  background: rgba(87, 195, 244, 0.2);
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.presentation h1 {
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.presentation-first {
  font-weight: bold;
  letter-spacing: 4px;
  color: #42a5f5;
}

.presentation-second {
  font-size: 28px;
  letter-spacing: 10px;
  color: #2979ff;
}

.presentation-third {
  color: #3d5afe;
  letter-spacing: 3px;
}

.presentation-fourth {
  color: #7c4dff;
}

.presentation-third,
.presentation-fourth,
.presentation-fifth {
  font-size:28px;
  padding-top: 0;
  margin-top: 0;
}

.presentation-fifth {
  color: #ab47bc;
}

/* About */
.about {
  min-height: 900px;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 80px; /* for smooth scrolling */
  background: rgb(230, 230, 230);
  background: #ddb4e4;
}

.about .section-title {
  color: #222;
}


.about .profile-links {
  display: block;
  font-size: 20px;
  color: #222;
  text-align: justify;
  margin: auto;
  padding-bottom: 0px;
}

.about .fa {
  color: #cc8fd6;
}

.about .profile-location {
  color: #222;
}

.about .profile-heading {
  margin-top: 10px;
  color: #111;
}

.about .profile-description {
  font-size: 20px;
  color: #222;
  text-align: justify;
  margin: auto;
  padding-bottom: 0px;
}

.about-left,
.about-right {
  background: #FFF;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.4);
  box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.4);
}

.profile-image {
  margin: auto;
}

.profile-name {
  text-align: center;
  margin: 5px;
}

.profile-sliders {
  padding-bottom: 50px;
}

.slider {
  max-width: 100%;
  height: 6px;
  background: #FFF;
  border: 1px solid #444;
  border-radius: 10px;
}

.slider-knob { /*
  position: relative;
  bottom: 20px;
  left: 300px; */
  margin-top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ddb4e4;

  -webkit-box-shadow: -1px 3px 10px 1px rgba(0,0,0,0.6);
-moz-box-shadow: -1px 3px 10px 1px rgba(0,0,0,0.6);
box-shadow: -1px 3px 10px 1px rgba(0,0,0,0.6);

}

.slider-knob-one {
  margin-left: 65%;
}

.slider-knob-two {
  margin-left: 20%;
}

.slider-knob-three {
  margin-left: 50%;
}

.slider-knob-four {
  margin-left: 25%;
}

.slider-knob-five {
  margin-left: 70%;
}

/*
.about-left .profile-sliders {
  text-align: justify;
}
*/

.sliders-description-left,
.sliders-description-right {
  display: inline-block;
  margin: 5px;
}

.sliders-description-left {
  float: left;
}

.sliders-description-right {
  float: right;
}

/* Portfolio */
.portfolio {
  min-height: 1000px;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 80px;
  background: #86c5f9;
}

.portfolio-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}

.portfolio-block {
  max-width: 540px;
  max-height: 440px;
  width: 100%;

  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  background: #d65c7c;
  background: #e0859d;
  background-color: rgb(242, 242, 242);

  -webkit-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.75);
}

.portfolio .section-title .fa {
  color: #3ca2f6;
}

.portfolio-block .fa {
  color: #a6a6a6;
  transition: 0.5s;
}

.portfolio-block:hover .fa {
  color: #3ca2f6;
}

.portfolio-block p {
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
  line-height: 0.9;
}

.portfolio-image {
  box-sizing: border-box; /*
  max-width: 500px;
  max-height: 225px; */
  max-width: 92%;
  max-height: 92%;

  width: 100%;
  height: 100%;
  background: #555;
  overflow: hidden; /* Solução paleativa problema img */
  margin: auto;
  margin-top: 3%;
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.3);
  box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.3);
  border: 1px solid #86c5f9;
  transition: 0.5s;
}

.portfolio-block:hover .portfolio-image {
  border: 1px solid #86c5f9;
}

.portfolio-title {
  max-width: 100%;
  min-height: 20px;
  border-bottom: 1px solid #86c5f9;
}

.portfolio-description {
  max-width: 100%;
  min-height: 20px;
  border-bottom: 1px solid #86c5f9;
}

.portfolio-tags {
  max-width: 100%;
  min-height: 20px;
  border-bottom: 1px solid #86c5f9;
}

.portfolio-links {
  box-sizing: border-box;
  overflow: hidden;
  clear: both;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 20px;
  border-bottom: 5px solid #86c5f9;
}

.portfolio-image:hover {
  -webkit-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.5);
  box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.5);
  transform: scale(1.03);
}

.visit-project,
.view-code {
  transition: 0.5s;
}

.visit-project {
  flex: 1 50%;
}

.view-code {
  flex: 1 50%;
}

.visit-project:hover,
.view-code:hover {
  background: #86c5f9;
  transition: 0.5s;
}

/* Contact */
.contact {
  min-height: 800px;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 80px;
  background: #c8eae9;
}

.contact .section-description {
  display: inline;
  margin: 0px;
}

.contact .social-list,
.footer .social-list {
  margin-left: 0;
  padding-left: 0;
  column-count: 3;
  text-align: center;
}

.social-small-box {
  display: inline-block;
  background: rgba(87, 195, 244, 0.5);
  border: 1px solid #FFF;
  font-size: 40px;
  margin: 2px;
  padding: 2px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 1.5;
  color: #d1476c;
}

.social-list .social-icon {
  display: block;
  color: #d1476c;
}

/* Footer */
.footer-top {
  min-height: 140px;
  width: 100%;
  border-top: 1px solid #FFF;
  background: #3fbaf3;
}

.footer-bottom {
  min-height: 60px;
  width: 100%;
  background: #27b1f1;
}

.footer p {
  font-size: 20px;
  text-align: center;
}

.footer .social-list {
  padding-top: 20px;
}

.footer-bottom p {
  padding-top: 10px;
}

/* 3. Media Queries. */
@media screen and (min-width: 768px) {
  .section-box {
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 48px;
  }

  .section-subtitle {
    font-size: 24px;
  }

  .navbar-brand {
    font-size: 28px;
  }

  .navbar-nav {
    font-size: 24px;
  }

  .presentation-first {
    font-size: 54px;
  }

  .presentation-second {
    font-size: 75px;
  }

  .presentation-third {
    font-size:34px;
    padding-top: 0;
    margin-top: 0;
  }

  .presentation-fourth {
    font-size: 51px;
    letter-spacing: 4px;
  }

  .presentation-fifth {
    font-size: 38px;
    letter-spacing: 2px;
  }

  .portfolio-block p {
    font-size: 20px;
  }
  .social-small-box {
    font-size: 50px;
    margin: 2px;
    padding: 2px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.0;
    color: #d1476c;
  }

  .contact .social-list,
  .footer .social-list {
    column-count: 1;
  }
}
