.text {
  font-family: var(--default-print-font-family);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;

  &.cursive {
    font-family: var(--default-cursive-font-family);
  }

  &.print {
    font-family: var(--default-print-font-family);
  }
}

.size16 {
  font-size: 1rem;
  line-height: 1rem;
}

.size20 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */

  @media (--sm-viewport) {
    font-size: 1rem; /* 16px */
    line-height: 1.313rem; /* 21px */
  }
}

.size24 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */

  @media (--sm-viewport) {
    font-size: 1rem; /* 16px */
    line-height: 1.313rem; /* 21px */
  }
}

.size28 {
  font-size: 1.75rem; /* 28px */
  line-height: 2rem; /* 32px */

  @media (--sm-viewport) {
    font-size: 1rem; /* 16px */
    line-height: 1.313rem; /* 21px */
  }
}

.default {
  color: var(--color-dark);
}

.bold {
  font-weight: 700;
}
