.separatorBlock {
  padding: 20px 0;
  transition: 0.5s;

  .subtitle {
    color: #d6fffc;
    margin-top: -6px;
  }

  :global(.lightTheme) &.home {
    background: linear-gradient(135deg, #1e8257 0%, #ffdf87 100%);
  }

  :global(.darkTheme) &.home {
    background: linear-gradient(135deg, #1e8257 0%, #ffdf87 100%);
  }

  :global(.lightTheme) &.about {
    background: linear-gradient(135deg, var(--blue-1) 0%, var(--green-1) 100%);
  }

  :global(.darkTheme) &.about {
    background: linear-gradient(135deg, var(--blue-2) 0%, var(--green-2) 100%);
  }

  :global(.lightTheme) &.portfolio {
    background: linear-gradient(135deg, var(--orange-1) 0%, var(--orange-2) 100%);
  }

  :global(.darkTheme) &.portfolio {
    background: linear-gradient(135deg, var(--gray-1) 0%, var(--orange-1) 100%);
  }
}
