.navbarContainer {
  display: flex;
  height: 100%;
  align-items: center;
  color: #000;
  font-family: var(--default-print-font-family);
  align-items: center;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 1;
  transition: 0.3s;

  @media (--sm-viewport) {
    height: 45px;
  }
}

:global(.lightTheme) .navbarContainer {
  background: rgba(200, 200, 200, 0.8);
  color: #000;
}

:global(.darkTheme) .navbarContainer {
  background: rgba(40, 40, 40, 0.8);
  color: #fff;
}

.navbarNavigation {
  margin-left: 10px;
  display: none;
  visibility: hidden;

  @media (--sm-viewport) {
    display: block;
    visibility: visible;

    :global(.lightTheme) span {
      background: yellow;
    }
  }
}

.navbarOuter {
  height: 250px;
}

.navbarInner {
  padding-bottom: 0 !important;
}

.desktopNav {
  display: flex;
  flex-direction: column;
  visibility: visible;
  margin-right: 25px;
  margin-left: auto;

  @media (--sm-viewport) {
    display: none;
    visibility: hidden;
  }
}

.navbarBrand {
  display: inline-flex;
  margin-left: 25px;

  @media (--sm-viewport) {
    margin-left: 10px;
  }
}
