.navbar {
  &Container {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--dark);
    font-family: var(--default-print-font-family);
    align-items: center;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    transition: 0.3s;

    @media (--md-viewport) {
      height: 45px;
    }
  }

  &Navigation {
    margin-left: 10px;
    display: none;
    visibility: hidden;

    @media (--md-viewport) {
      display: block;
      visibility: visible;
    }
  }

  &Outer {
    height: 320px;
  }

  &Inner {
    padding-bottom: 0 !important;
  }

  &Brand {
    display: inline-flex;
    margin-left: 25px;

    @media (--md-viewport) {
      margin-left: 10px;
    }
  }

  &Options {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    font-size: 1.1rem;

    p:first-letter,
    a:first-letter {
      display: block;
      font-family: var(--default-cursive-font-family);
    }

    @media (--md-viewport) {
      justify-content: space-between;
    }
  }
}

.desktopNav {
  display: flex;
  flex-direction: row;
  visibility: visible;
  margin-right: 25px;
  margin-left: auto;

  @media (--md-viewport) {
    display: none;
    visibility: hidden;
  }
}

:global(.lightTheme) {
  .navbarContainer {
    background: var(--white-2);
    color: var(--dark);
  }

  .navbarOptions {
    border-bottom: 1px solid var(--gray-2);
  }
}

:global(.darkTheme) {
  .navbarContainer {
    background: var(--gray-2);
    color: var(--white);
  }

  .navbarOptions {
    border-bottom: 1px solid var(--white-2);
  }
}
