.heading {
  margin: 0;
  padding: 0;
  font-family: var(--default-print-font-family);
  font-weight: 400;

  &.cursive {
    font-family: var(--default-cursive-font-family);
  }

  &.print {
    font-family: var(--default-print-font-family);
  }

  & strong {
    font-weight: 700;
  }
}

.h1 {
  font-size: 4.5rem; /* 72px */
  line-height: 4.5rem;

  @media (--sm-viewport) {
    font-size: 2rem; /* 32px */
    line-height: 2.375rem; /* 38px */
  }
}

.h2 {
  font-size: 4rem; /* 64px */
  line-height: 4rem;

  @media (--sm-viewport) {
    font-size: 2rem; /* 32px */
    line-height: 2.375rem; /* 38px */
  }
}

.h3 {
  font-size: 3.5rem; /* 56px */
  line-height: 4rem;

  @media (--sm-viewport) {
    font-size: 1.125rem; /* 18px */
    line-height: 1.375rem; /* 22px */
  }
}

.h4 {
  font-size: 3rem; /* 48px */
  line-height: 3rem;

  @media (--sm-viewport) {
    font-size: 1.125rem; /* 18px */
    line-height: 1.375rem; /* 22px */
  }
}

.h5 {
  font-size: 2rem; /* 32px */
  line-height: 2rem;

  @media (--sm-viewport) {
    font-size: 1.125rem; /* 18px */
    line-height: 1.375rem; /* 22px */
  }
}

/* text color according to theme */

:global(.lightTheme) .heading {
  color: var(--color-dark);
}

:global(.darkTheme) .heading {
  color: var(--color-white);
}

.white {
  color: var(--color-white);
}

.bold {
  font-weight: 700;
}
