*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--dark);
}

:global(.darkTheme) a {
  color: var(--white-5);
}

.app {
  overflow: hidden visible;
}

:global(.darkTheme) {
  background: var(--dark);
  color: var(--white-5);
}

:global(.lightTheme) {
  background: #eceff1;

  color: var(--dark);
}

@font-face {
  font-family: 'BraydenScriptRegular';
  src: url('../../src/fonts/Brayden-Script-Regular.otf') format('opentype');
}
