@import '../styles/gradients.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--dark);
}

:global(.darkTheme) a {
  color: var(--white-5);
}

.app {
  overflow: hidden visible;
}

:global(.darkTheme) {
  background: var(--dark);
  color: var(--white-5);
}

:global(.lightTheme) {
  background: #eceff1;

  color: var(--dark);
}

@font-face {
  font-family: 'BraydenScriptRegular';
  src: url('../../src/fonts/Brayden-Script-Regular.otf') format('opentype');
}

:global(.startingParagraph:first-letter) {
  font-family: var(--default-cursive-font-family);
  float: left;
  color: red;
  font-size: 3em;
  line-height: 0;
  padding: 0px 0px 40px 0;
  margin-bottom: -20px;
}

@media (--xs-viewport) {
  :global(.startingParagraph) {
    padding-top: 20px;
  }
}

:global(.half) {
  width: 50%;

  @media (--sm-viewport) {
    width: 100%;
  }
}

:global(.sectionPadding) {
  padding-top: 70px;
  padding-bottom: 50px;

  @media (--md-viewport) {
    padding: 20px 0;
  }
}

:global(.content) {
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
