.imageWithCaption {
  display: inline-block;
  margin: 10px;

  &CenterTop {
    display: block;

    &Image {
      margin: auto;
    }
  }

  &Left {
    float: left;
  }

  &Right {
    float: right;
  }

  @media (--sm-viewport) {
    &Left,
    &Right {
      float: none;
    }
  }

  &Image {
    display: inline-block;
    margin: 10px;

    @media (--xs-viewport) {
      margin: 0;
    }
  }
}
