.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleImage {
    width: 150px;
    height: 150px;
  }

  .titleImage path {
    fill: var(--orange-1);
  }

  .title,
  :global(.startingParagraph:first-letter) {
    color: var(--orange-1);
  }
}

.columnsWrapper {
  display: flex;
  flex-direction: row;

  @media (--xs-viewport) {
    flex-direction: column;
    width: 100%;
  }
}

.contactFormWrapper {
  max-width: 50%;
}

.imageWrapper {
  margin-top: -10px;
  max-width: 50%;

  img {
    max-height: 500px;
    padding: 10px;
  }
}

:global(.darkTheme) .imageWrapper img {
  border: 1px solid var(--orange-2);
}

:global(.lightTheme) .imageWrapper img {
  border: 1px solid var(--orange-1);
}
