.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  transition: 0.5s;

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleImage {
    width: 150px;
    height: 150px;
  }

  .titleImage path {
    fill: var(--orange-1);
  }

  .title,
  :global(.startingParagraph:first-letter) {
    color: var(--orange-1);
  }
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  width: 50%;

  @media (--xs-viewport) {
    flex-direction: column;
    width: 100%;
  }
}
