.home {
  height: 100vh;
  padding-top: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &Background {
    background: url(_images/Sally_Swatland-By_the_Sea.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    width: 60%;
    height: calc(100vh - 80px);
    margin-top: -80px;
  }

  &DescriptionWrapper {
    display: flex;
    margin: auto 20px;
    width: 40%;

    &Separator {
      display: none;
    }
  }

  &Description {
    margin: auto;
    text-align: center;
  }

  &ImageAttribution {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &Separator {
      width: 70%;
      height: 1px;
      background-color: var(--green-3);
      border: 1px solid var(--green-3);
    }

    &Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      p {
        line-height: 1rem;
        margin-top: 10px;
      }
    }
  }

  .homeTitle {
    color: var(--green-3);
  }

  @media (--sm-viewport) {
    height: 100%;
    flex-direction: column;
    padding-top: 45px;

    &Background {
      width: 100%;
      height: 40vh;
    }

    &DescriptionWrapper {
      width: 100%;
      padding-top: 20px;

      &Separator {
        display: block;
        width: 95%;
        height: 1px;
        background-color: var(--green-3);
        border: 1px solid var(--green-3);
      }
    }
  }
}

:global(.darkTheme) .home {
  &Background {
    background: url(_images/Alexander_Rossi-A_Summers_Tale.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
