@import '../styles/gradients.css';

.startingParagraph:first-letter {
  font-family: var(--default-cursive-font-family);
  float: left;
  color: red;
  font-size: 3em;
  line-height: 0;
  padding: 0px 0px 40px 0;
  margin-bottom: -20px;
}

@media (--xs-viewport) {
  .startingParagraph {
    padding-top: 20px;
  }
}

.headingGroup {
  display: inline-block;

  h4,
  h5 {
    margin-right: 10px;
  }

  @media (--xs-viewport) {
    flex-direction: column;
  }
}

.half {
  width: 50%;

  @media (--sm-viewport) {
    width: 100%;
  }
}

.marginTop120 {
  margin-top: 120px;

  @media (--xs-viewport) {
    margin-top: 20px;
  }
}

.sectionPadding {
  padding-top: 70px;
  padding-bottom: 50px;

  @media (--md-viewport) {
    padding: 20px 0;
  }
}

.content {
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.home {
  height: 100vh;
  padding-top: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &Background {
    background: url(_images/Sally_Swatland-By_the_Sea.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    width: 60%;
    height: 100vh;
  }

  &DescriptionWrapper {
    display: flex;
    margin: auto 20px;
    width: 40%;
  }

  &Description {
    margin: auto;
    text-align: center;
  }

  &ImageAttribution {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &Separator {
      width: 70%;
      height: 1px;
      background-color: var(--green-3);
      border: 1px solid var(--green-3);
    }

    &Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      p {
        line-height: 1rem;
        margin-top: 10px;
      }
    }
  }

  .homeTitle {
    color: var(--green-3);
  }
}

:global(.darkTheme) .home {
  &Background {
    background: url(_images/Alexander_Rossi-A_Summers_Tale.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  @media (--xs-viewport) {
    &Title {
      padding: 20px 0;
    }
  }

  .aboutTitle,
  .startingParagraph:first-letter {
    color: var(--green-3);
  }

  &ImageFirst img,
  &ImageSecond img {
    padding: 10px;
    border: 1px solid var(--green-3);
  }

  &ImageFirst {
    display: inline-block;
    max-width: 30%;
  }

  &ImageSecond {
    display: inline-block;
    max-width: 30%;
    margin-left: -10px;
    padding-right: 20px;
  }

  @media (--sm-viewport) {
    &ImageFirst,
    &ImageSecond {
      display: block;
      max-width: 320px;
      margin: auto;
    }
  }
}

.portfolio {
  min-height: 100vh;

  .portfolioTitle,
  .startingParagraph:first-letter {
    color: var(--blue-1);
  }

  &Image {
    display: inline-block;
    max-width: 30%;

    @media (--sm-viewport) {
      max-width: 320px;
    }

    img {
      padding: 10px;
      border: 1px solid var(--blue-1);
    }
  }

  &Projects {
    margin-top: 100px;

    &ItemFirst {
      margin-bottom: 40px;
      padding-top: 40px;

      img {
        min-height: 290px;
      }
    }

    @media (--xs-viewport) {
      margin-top: 0;

      &ItemFirst {
        padding-top: 0;
      }
    }
  }

  &ProjectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (--sm-viewport) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .contactTitle,
  .startingParagraph:first-letter {
    color: var(--orange-1);
  }

  &ColumnsWrapper {
    display: flex;
    flex-direction: row;

    @media (--md-viewport) {
      flex-direction: column;
      width: 100%;
    }
  }

  &FormWrapper {
    @media (--sm-viewport) {
      max-width: 100vh;
      margin: auto;
    }
  }

  &Image {
    margin-top: -10px;

    img {
      max-height: 500px;
      padding: 10px;
    }
  }

  :global(.darkTheme) &Image img {
    border: 1px solid var(--orange-2);
  }

  :global(.lightTheme) &Image img {
    border: 1px solid var(--orange-1);
  }
}
