@import '../styles/gradients.css';

.headingGroup {
  display: inline-flex;

  h4,
  h5 {
    margin-right: 10px;
  }
}

.half {
  width: 50%;
}

.content {
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.imageWrapper {
  width: 50vw;
  height: 100%;
  overflow: hidden;
}

.hero {
  min-height: 100vh;
  padding-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  .titleGradient {
    padding-top: 5rem;
    background: rgba(0, 212, 255);
    background: linear-gradient(90deg, rgba(196, 43, 175, 1) 25%, rgba(0, 212, 255, 1) 75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 200px;
  }
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
