.headingGroup {
  display: inline-flex;

  h4,
  h5 {
    margin-right: 10px;
  }
}

.row {
  margin: 50px 0;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.hero {
  min-height: 100vh;
  padding-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  .titleGradient {
    padding-top: 5rem;
    background: rgba(0, 212, 255);
    background: linear-gradient(90deg, rgba(196, 43, 175, 1) 25%, rgba(0, 212, 255, 1) 75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 200px;
  }
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  &Row {
    margin: 50px 0;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }
}

.portfolio {
  min-height: 100vh;
}

.contact {
  min-height: 100vh;
}
