.imageWithCaption {
  display: inline-block;
  margin: 10px;

  &CenterTop {
    display: block;

    &Image {
      margin: auto;
    }
  }

  &Left {
    float: left;
  }

  &Right {
    float: right;
  }

  &Image {
    display: inline-block;
    margin: 10px;
  }

  &Text {
    margin-top: 0;
    margin-left: 10px;

    &:first-letter {
      font-family: var(--default-cursive-font-family);
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
