.imageWithCaption {
  display: inline-block;
  margin: 10px;

  &CenterTop {
    display: block;

    &Image {
      margin: auto;
    }
  }

  &Left {
    float: left;
  }

  &Right {
    float: right;
  }

  &Image {
    display: inline-block;
    margin: 10px;
  }
}
