.menuItems {
  display: flex;
  flex-direction: row;
  border-bottom: none;
  height: 80px;
  letter-spacing: 2px;

  @media (--md-viewport) {
    display: block;
    height: 100%;
    margin-top: 0;
  }
}

.menuItems a {
  display: block;
  font-size: 20px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  vertical-align: middle;

  @media (--xl-viewport) {
    padding: 28px 8px;
  }

  @media (--md-viewport) {
    border-bottom: none;
    padding: 18px 15px;
    width: 100%;
  }
}

.menuItems a:first-letter {
  font-family: var(--default-cursive-font-family);
}

:global(.lightTheme) .menuItems a {
  color: var(--dark);
}

:global(.darkTheme) .menuItems a {
  color: var(--white);
}

.menuItems a:hover {
  text-decoration: none;
}

.menuItems a:focus {
  text-decoration: none;
}
