.footer {
  text-align: center;

  span,
  .footerBottom p:first-letter {
    font-family: var(--default-cursive-font-family);
  }
}

.footerTop {
  background: var(--white-3);
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerBottom {
  background: var(--white-4);
  min-height: 60px;
  width: 100%;

  p {
    padding: 15px 0;
    margin: 0 15px;
  }
}

:global(.darkTheme) .footerTop {
  background: var(--dark-2);
}

:global(.darkTheme) .footerBottom {
  background: var(--dark-3);
}
