:global(.darkTheme) .about {
  background-color: rgba(165, 144, 112, 1);
}

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: rgba(130, 150, 180, 1);
  transition: background-color 1s ease-in-out;

  @media (--xs-viewport) {
    &Title {
      padding: 20px 0;
    }
  }

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleImage {
    width: 150px;
    height: 150px;
  }

  .titleImage path {
    fill: var(--orange-4);
  }

  .aboutTitle,
  :global(.startingParagraph:first-letter) {
    color: var(--orange-4);
  }

  .listItem:before {
    content: '✽ ';
    color: var(--orange-4);
  }

  .secondParagraph {
    padding-top: 30px;
  }

  .firstSectionContent,
  .secondSectionContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 33%;
    padding: 0 20px;

    @media (--md-viewport) {
      width: 100%;
    }
  }

  .secondSection {
    margin-top: 120px;

    @media (--xs-viewport) {
      margin-top: 20px;
    }
  }

  &ImageFirst img,
  &ImageSecond img {
    padding: 10px;
    border: 1px solid var(--orange-4);
  }

  &ImageFirst {
    display: inline-block;
    max-width: 30%;
  }

  &ImageSecond {
    display: inline-block;
    max-width: 30%;
    margin-left: -10px;
    padding-right: 20px;
  }

  @media (--sm-viewport) {
    &ImageFirst,
    &ImageSecond {
      display: block;
      max-width: 320px;
      margin: auto;
    }
  }
}
