::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: var(--gray-3);
}

.contactForm {
  @media (--xs-viewport) {
    margin-bottom: 20px;
  }

  &Input {
    background: var(--white-3);
    border: 1px solid var(--orange-1);
    font-family: var(--default-print-font-family);
    font-size: 22px;
    margin-bottom: 20px;
    outline: 0;
    padding: 13px;
    transition: all 0.3s;
    width: 100%;

    &:hover,
    &:focus {
      border: 1px solid var(--orange-3);
    }
  }

  textarea {
    height: 100px;
    resize: vertical;
  }

  &InputSend {
    background: var(--orange-1);
    border: none;
    color: var(--dark);
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 1px;
    transition: all 0.3s;
    font-family: var(--default-cursive-font-family);

    &:hover,
    &:focus {
      background: var(--orange-3);
      border: none;
    }
  }
}

:global(.darkTheme) .contactForm {
  &Input {
    background: var(--dark-3);
    border: 1px solid var(--orange-2);
    color: var(--white);

    &:hover,
    &:focus {
      border-color: var(--orange-1);
    }
  }

  &InputSend {
    background: var(--orange-1);
    border: none;
    color: var(--white-5);

    &:hover {
      background: var(--orange-3);
      color: var(--dark-3);
    }
  }
}
