:global(.darkTheme) .contactForm [type='submit'] {
  color: var(--white-5);
}

.contactForm {
  text-align: center;
}

.formInput {
  background: var(--white-3);
  border: 1px solid var(--orange-1);
  font-family: var(--default-print-font-family);
  font-size: 22px;
  margin-bottom: 20px;
  outline: 0;
  padding: 13px;
  transition: all 0.3s;
  width: 100%;
}

:global(.darkTheme) .formInput {
  border: 1px solid var(--orange-2);
}

.formInput:focus {
  border: 1px solid var(--orange-1);
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: var(--gray-3);
}

.contactForm textarea {
  height: 100px;
  resize: vertical;
}

:global(.darkTheme) .contactForm [type='text'],
:global(.darkTheme) .contactForm [type='email'],
:global(.darkTheme) .contactForm textarea {
  background: var(--dark-3);
  color: var(--white);
}

.contactForm [type='submit'] {
  background: var(--blue-3);
  background: var(--orange-1);
  border: 0;
  color: var(--dark);
  cursor: pointer;
  font-size: 30px;
  letter-spacing: 1px;
  transition: all 0.3s;
  font-family: var(--default-cursive-font-family);
}

.contactForm [type='submit']:hover {
  background: var(--blue-4);
  background: var(--orange-2);
}
