@import '../../../styles/gradients.css';

.portfolioItem {
  &Image {
    text-align: center;
    margin-bottom: 10px;

    img {
      border: 1px solid var(--blue-1);
      padding: 10px;
      max-width: 410px;
      height: 210px;
      width: 100%;

      @media (--sm-viewport) {
        max-width: 320px;
        max-height: 180px;
      }
    }
  }

  &Text {
    margin-top: -10px;
  }

  &Text:first-letter {
    font-family: var(--default-cursive-font-family);
    float: left;
    color: var(--blue-1);
    font-size: 1.5em;
    line-height: 25px;
    padding: 0px 0px 25px 0;
    margin-bottom: -30px;
  }

  .portfolioItemText a {
    font-weight: 400;
    color: var(--blue-1);
  }
}
